/* Postojeći CSS kod */

body {
    margin: 0;
    padding: 0;
}


@keyframes changeColors {
    0% {
        background-color: rgb(39, 40, 34); /* Monokai Background */
        color: white; /* Contrasting text color */
    }
    25% {
        background-color: rgb(48, 63, 159); /* Indigo */
        color: white; /* Contrasting text color */
    }
    50% {
        background-color: rgb(0, 121, 107); /* Teal */
        color: white; /* Contrasting text color */
    }
    75% {
        background-color: rgb(55, 71, 79); /* Blue Grey */
        color: white; /* Contrasting text color */
    }
    100% {
        background-color: rgb(39, 40, 34); /* Monokai Background */
        color: white; /* Contrasting text color */
    }
}
.navbar {
    top: 0;
    z-index: 100;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    height: 100px;
    width: 100%;
    animation: changeColors 10s infinite;
}



.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: -150px;
    font-size: 25px;
}

.logo-img {
    width: 100px;
    height: 100px;

    background-color: transparent; /* Providna pozadina */
    margin-right: 50px; /* Novo */
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
    text-decoration: none;
}

.nav-links a,
button {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover,
button:hover {
    text-decoration: none;
    color: black;
}

.user {
    display: flex;
    align-items: center;
    color: rgb(43, 42, 42);
}

.account {
    display: flex;
    list-style: none;
    padding: 10px 15px;
    border-radius: 5px;
    /* background-color: #f9f9f9; */

}

.account li {
    margin: 0;
}

.account a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: color 0.3s;
    margin-top: -10px;
}

.account a:hover {
    color: #007BFF;
}

.account i {
    padding-right: 8px;
}


.padding {
    display: flex;
    list-style: none;
    padding-top: 10px;
}

.logout:hover {
    text-decoration: underline;
}

.mod:hover {
    text-decoration: underline;
    background-color: rgb(184, 192, 187);
}

/* Dodati stilovi za pretragu */
.white-icon {
    color: white;
}
.search-container {
    display: flex;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    padding: 5px;
    margin-left: 20px; /* Pomeranje pretrage od loga */
}

.search-container input[type="text"] {
    color: black;
    border: none;
    padding: 8px; /* Povećajte prostor za unos teksta */
    font-size: 14px; /* Promenite veličinu fonta */
    flex-grow: 1; /* Omogućite da se input proširi preko dostupnog prostora */
}

.search-container button {
    border: none;
    background: transparent;
    padding: 8px; /* Povećajte veličinu dugmeta */
    cursor: pointer;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
    }

    .logo {
        margin-left: 0;
    }

    .nav-links li {
        margin-right: 10px;
    }

    .search-container {
       display: none;
    }


}


